* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header {
    height: 100px;
    /* width: 100%; */
    padding: 20px 100px;
    background-color: orangered;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: white;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar__list li a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 18.72px;
    color: white;
  }
  
  .main {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  
  .main__left {
    width: 55%;
    padding-left: 20px;
  }
  
  .main__left h1 {
    margin: 20px 0;
  }
  
  .main__left p {
    line-height: 24px;
    font-size: 18.72px;
  }
  
  .main__right {
    width: 45%;
    height: 250px;
    background-color: olivedrab;
    margin: 20px 50px;
    border-radius: 20px;
  }
  
  #main__btn {
    margin: 20px 0;
    font-size: 18.72px;
    padding: 10px 15px;
    background-color: olivedrab;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .main__more {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    line-height: 44px;
    font-size: 18.72px;
    background-color: black;
    opacity: 0.95;
    color: white;
  }
  
  #close__btn {
    margin: 10px 0;
    font-size: 18.72px;
    padding: 10px 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }